
.tablelement {
    cursor:pointer;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    margin: 0px;
    padding-top: 0px;            
}
.tablelement:hover{
    color: white;
    background-color: black;
    cursor:pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top:25.5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.selected{
    color: white;
    background-color: black;
    cursor:pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top:25.5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
 a{
    text-decoration: none;
}

#unitydonation {
    color: #333;
    margin: 0px;
    font-weight: 700;
    font-size: 25px;
    font-family: "Open Sans", "IBM Plex Sans", sans-serif;
    position: relative;
    top: 20px;
    left: 60px;
    margin-right: 700px;
    cursor: pointer;
}


#unity{
color:#ff8800;
text-transform:uppercase;
}
#donation{
color:white;
text-transform:uppercase;
}


#header{
background-color:rgb(22, 185, 49);
/* background-color:  #ffa812; */
/* background:linear-gradient(rgb(46, 46, 46),rgb(255, 255, 255));  */
height: 63px;
position: sticky;
top: 30px;
z-index:+100;
width: 960px;
border-top-left-radius: 10px;
    border-top-right-radius: 10px;
/* border-radius: 10em; */
/* padding-right: 10px; */
/* filter: drop-shadow(0rem 0rem 0.2rem rgb(212, 211, 211)); */
}



